:host {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 21em;
  line-height: 12px;

  .password-grade__bar {
    border-left: gray thin solid;
    border-top: gray thin solid;
    border-bottom: gray thin solid;

    &:first-child {
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
    }

    &:last-child {
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
      border-right: gray thin solid;
    }
    flex-grow: 1;
  }
}

.password-grade__bar {
  background-color: white;
  :host.short & {
    background-color: red;
  }
  :host.easy & {
    &:first-child {
      background-color: red;
    }
  }
  :host.medium & {
    &:nth-child(-n+2) {
      background-color: yellow;
    }
  }
  :host.strong & {
    background-color: green;
  }
}
