:host {
  width: 20em;
  background: white;
  padding: 0.5em;
  border: gray thin solid;
  border-radius: 15px;
  display: flex;
  align-items: center;

  .password-input__text {
    font-size: 24px;
    flex: 1 0;
    border: 0;
    outline: 0;
    padding: 0;
    width: 1em;
  }

  .password-input__button {
    background-color: white;
    border: 0;
    outline: 0;
    padding: 0;
    margin: 0;
  }
}
